// usefull vars
$i0: 0

// Colors
$init-percent-darken: 12%
$init-percent-lighten: 12%
$dark-grey: #3f4751
$gray: #e6ecf5
$yellow: #ffbf2d
$orange: #AF482C
$purple: #aa56d6
$dark-purple: #4D0572
$dark-blue: #002223
$brown: #322723
$grey: #E6E6E6
$red: #AE0001
$pink: #DD2F74
$colors: 'yellow' $yellow, 'orange' $orange, 'purple' $purple, 'dark-purple' $dark-purple, 'dark-blue' $dark-blue, 'brown' $brown, 'grey' $grey, 'red' $red, 'pink' $pink
$color-default: #f8f8f8//#ECECEC
$color-primary: #E43414
$color-secondary: #ff6400
$color-inverse: #3f4751
$color-light: #f8f8f8
$color-info: #5acafa//#1f80ff
$color-warning: #ffbf2d
$color-error: #C53030 // #ec407a
$base-colors: default $color-default, 'light' $color-light, 'inverse' $color-inverse, 'primary' $color-primary, 'secondary' $color-secondary, 'info' $color-info, 'warning' $color-warning, 'error' $color-error

// Sizes
$base-sizes: xs, sm, md, lg, xl
$base-measurements: 'px' px, 'em' em, 'percent' '%', 'rem' rem
$width-960: 960px
$width-100-percent: 100%
